<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="forest.ori.parrot.model.system.mapper.baseUserrelationMapper">


    <select id="findUserCompany" resultType="forest.ori.parrot.pojo.systemModel.baseCompany">
        select b.* from (
            select distinct b.CompanyId from (
                select distinct ObjectId from base_userrelation  where Category  =2  and UserId  =#{userid} ) a left join base_post b on a.ObjectId  = b.id
        ) a left join base_company   b on a.CompanyId = b.id
    </select>

    <select id="findUserPost" resultType="forest.ori.parrot.pojo.systemModel.basePost">
        select b.* from (
            select distinct ObjectId from base_userrelation  where Category  =2  and UserId  =#{userid}
        ) a left join base_post b on a.ObjectId  = b.id
    </select>

    <select id="findUserDepartment" resultType="forest.ori.parrot.pojo.systemModel.baseDepartment">
        select b.* from (
            select distinct b.DepartmentId from (
                select distinct ObjectId from base_userrelation  where Category  =2  and UserId  =#{userid}
            ) a left join base_post b on a.ObjectId  = b.id
        ) a left join base_department  b on a.DepartmentId = b.id
    </select>
</mapper>